body {
  font: 100% Helvetica, sans-serif;
  color: #49B687;
  background-color: #333; }

a {
  color: inherit;
  text-decoration: none; }

.navBut:hover {
  cursor: pointer;
  color: #E5E239; }

.thumbnail {
  display: block;
  margin: auto; }

.bookThumbnail {
  width: 50%;
  height: 50%; }

.userSquare {
  text-align: center;
  border: 5px solid #202421;
  width: 250px; }

.request {
  text-align: center;
  border: 5px solid #202421;
  width: 300px; }

.bookBox {
  margin: 10px;
  display: inline-block;
  text-align: center;
  border: 5px solid #202421;
  width: 300px;
  float: left; }

.userSquare:hover, .bookBox:hover {
  background-color: #E5E239;
  cursor: pointer; }

.addBookForm {
  border: 5px solid #202421;
  display: inline-block;
  width: 265px; }

textarea {
  resize: none; }

.goodButton {
  background-color: #49B687;
  width: 200px;
  height: 50px; }

.biggerButton {
  background-color: #49B687;
  width: 360px;
  height: 50px; }

.badButton {
  background-color: #FF6161;
  width: 200px;
  height: 50px; }

.center {
  text-align: center; }

.navbar {
  text-align: right; }

.bookCard {
  display: inline-block;
  width: 100%;
  margin: auto; }

.bookStuff {
  margin-left: 350px;
  height: 200px;
  border: 5px solid #202421; }

.butts {
  margin-left: 350px; }
