<h1>Welcome {{user.displayName}}!</h1>
<div>
  <img class='avatar' ng-src="{{user.picture}}" alt="">
</div>
<h1>Your Open Review Requests: </h1>
<div ng-repeat="request in user.requests">
  <form ng-submit="acceptRequest(message, request); $event.stopPropagation();" ng-if="request.progress === 'open'">
  <div class="bookBox">
    <div>
      {{request.sender.displayName}}
    </div>
    <a href="{{request.book.url}}" target="_blank">
      <h4>Book: {{request.book.name}}</h4>
      <br>
      <img ng-src="{{request.book.picture}}" alt="" class="bookThumbnail">
      <p>{{request.message}}</p>
    </a>
      <textarea name="name" rows="8" cols="40" ng-model="message"></textarea>
      <br>
      <button type="submit" name="button" class="goodButton">Accept Review Request</button>
  </form>
</div>
</div>
<h1>Your Review Requests in progress: </h1>
<div ng-repeat="request in user.requests">
  <div class="bookBox" ng-if="request.progress === 'pending'">
    <div>
      By: {{request.sender.displayName}}
    </div>
    <a href="{{request.book.url}}" target="_blank">
      <h4>For: {{request.book.name}}</h4>
      <br>
      <img ng-src="{{request.book.picture}}" alt="" class="bookThumbnail">
      <button class="badButton">Cancel</button>
    </a>
  </form>
</div>
</div>
<form ng-submit="addBook(bookInfo); $event.stopPropagation();" class="addBookForm">
  <label for="Name">Name:</label>
  <input type="text" ng-model="bookInfo.name" name="Name"><br>
  <label for="Url">Url:</label>
  <input type="text" ng-model="bookInfo.url" name="Url"><br>
  <label for="Picture">Picture:</label>
  <input type="text" ng-model="bookInfo.picture" name="Picture"><br>
  <label for="ReviewsWanted">Reviews Wanted:</label>
  <select ng-model="bookInfo.reviewsWanted" name="ReviewsWanted">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
  </select><br>
  <p id="description">
    <label for="Description">Description</label>
    <br>
    <textarea name="Description" rows="8" cols="40" ng-model="bookInfo.description"></textarea>
  </p>
  <p class="center">
    <input type="submit" id="submit" value="Submit" class="goodButton"/>
  </p>
</form>
<h1>Your books:</h1>
<div ng-repeat="book in user.books">
  <a href="{{book.url}}" target="_blank">
    <div class="bookBox">
      <h4>{{book.name}}</h4>
      <br>
      <img ng-src="{{book.picture}}" alt="" class="bookThumbnail">
      <p>{{book.description}}</p>
    </div>
  </a>
</div>
