$font-stack: Helvetica, sans-serif;
$primary-background-color: #333;
$rosemary-background-color: #FF6161;
$primary-font-color: #49B687;
$primary-highlight-color: #E5E239;
$primary-border: 5px solid #202421;

body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-color: $primary-background-color;
}
a {
  color: inherit;
  text-decoration: none;
}
.navBut:hover{
  cursor: pointer;
  color: $primary-highlight-color;
}
.thumbnail{
  display:block;
  margin:auto;
}
.bookThumbnail{
  width: 50%;
  height: 50%;
}
.userSquare{
  text-align: center;
  border: $primary-border;
  width: 250px;
}
.request{
  text-align: center;
  border: $primary-border;
  width: 300px;
}
.bookBox{
  margin: 10px;
  display: inline-block;
  text-align: center;
  border: $primary-border;
  width: 300px;
  float: left;
}
.userSquare:hover, .bookBox:hover{
  background-color: $primary-highlight-color;
  cursor: pointer;
}
.addBookForm{
  border: $primary-border;
  display: inline-block;
  width: 265px;
}
textarea {
  resize: none;
}
.goodButton {
  background-color: $primary-font-color;
  width: 200px;
  height: 50px;
}
.biggerButton {
  background-color: $primary-font-color;
  width: 360px;
  height: 50px;
}
.badButton {
  background-color: $rosemary-background-color;
  width: 200px;
  height: 50px;
}
.center {
  text-align: center;
}
.navbar {
  text-align: right;
}
.bookCard {
  display: inline-block;
  width: 100%;
  margin: auto;
}
.bookStuff{
  margin-left: 350px;
  height: 200px;
  border: $primary-border;
}
.butts{
  margin-left: 350px;
}
