<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <title>scaffold</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="scss/style.css">
  </head>
  <body ng-app="scaffoldApp">
    <h1>Reviewer</h1>
    <div ng-controller="navCtrl" class="navbar">
      <span ng-if="isAuthenticated()">
        <span ui-sref="me" class="navBut">profile</span>
        <span ui-sref="booksList" class="navBut">books</span>
        <span ui-sref="authorsList" class="navBut">users</span>
        <span ng-click="logout()" class="navBut">logout</span></span>
        <span ng-if="!isAuthenticated()" ng-click="authenticate('facebook')">Facebook Signin</span>
    </div>
    <div ui-view></div>

    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/assets/satellizer/satellizer.min.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>
